html{
	background-color: lightblue;
	text-align: center;
}

.top{
	color: blue;
	text-align: center;
	background-color: lightblue;
}

.top h1{
	font-size: 60px;
}

.top h3{
	font-size: 30px;

}

.h2{
	
}